{% extends "base.html" %} {% block content %}

<div class="main">
    <h1>{{diary.title}}</h1>
    <h3>{{diary.content}}</h3>
    {% if diary.image %}
    <img src="{{diary.image.url}}" alt="" width="300" />
    {% else %}
    <h4>no image</h4>
    {% endif %}
    <p>created {{diary.created_at}}</p>
    <a href="{% url 'diary:diary_update' diary.id%}"><button>EDIT</button></a>
    <form action="{% url 'diary:diary_delete' diary.id%}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE" />
    </form>
    <a href="{% url 'diary:diary_list' %}"><button>go to LIST</button></a>
</div>
{% endblock %}
